.gameItem {
	display: flex;
	flex-direction: column;
	border: solid black 1px;
	padding: 1rem;
	margin: 1rem;
	align-items: center;
	flex: 1 0 21%;
	border-radius: 10%;
}

#gameWrap {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 80%;
	justify-content: space-around;
}
